#wrapper{
    
    
    margin: auto;
    margin-top: 20px;
    padding-top: 20px;
}

#SearchButton{
    background: red;
}

#pics{
    background: pink;
}

img{
    padding:5px;
}

.picture{
    padding:5px;
}
.button{
    margin:10px;
}